.card {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.row {
    width: 1024px;
}

.column {
    width: 500px;
}

.small_column {
    width: 240px;
}

.list {
    display: flex;
    gap: 36px;
    list-style-type: none;
    font-size: 24px;
}
.flex {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.title {
    margin: 0;
}
.heading,
.text {
    margin: 0;
    font-size: 18px;
}
.text {
    margin-bottom: 8px;
}

.genre_list {
    padding-left: 16px;
}

.tag {
    &::before {
        content: '‘';
    }
    &::after {
        content: '’';
    }
}

.back {
    padding: 8px 16px;
    border: 1px solid maroon;
    border-radius: 4px;
    width: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        border-color: rgb(199, 61, 61);
    }
}
