.search {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}
.input,
.btn {
    padding: 8px 16px;
    font-size: 20px;
    border: 1px solid maroon;
    border-radius: 4px;
}
.input {
    background-color: rgb(255, 194, 170);
    color: rgb(58, 10, 10);
    &::placeholder {
        color: maroon;
    }
}
.btn {
    background-color: maroon;
    color: white;
}
